body {
        background-color: #f7f7f7;
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #333;
        margin: 0;
        padding: 0;
        
        #container{
        
          text-align: center;
          padding-left: 10px;
          padding-right: 10px;
          border-radius: 25px;
          background-image:linear-gradient(rgb(149, 63, 247),rgb(163, 94, 241),rgb(193, 146, 247));
        
        }
        
        
        #timer {
          font-size: 40px;
          font-weight: bold;
        }
       
      }
      header {
        background-color: #fff;
        padding: 20px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #333;
        border-bottom: 1px solid #ccc;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
      }
      #timer {
        font-size: 72px;
        font-weight: bold;
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
      }
      #session-toggle {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      .session-btn {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #333;
        width: 48%;
      }
      .session-btn.active {
        background-color: #333;
        color: #fff;
      }
      .session-btn:focus {
        outline: none;
      }
      #interval-time{
        font-size:30px ;
        margin-top: 25px;
      }
      #settings{
        font-weight: bold;
      }
      .setting-label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }
      .setting-input {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        color: #333;
        width: 100%;
      }
      .timer-btn {
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 15px 30px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        display: block;
        cursor: pointer;
      }
      .timer-btn:hover {
        background-color: #444;
      }
      .timer-btn:focus {
        outline: none;
      }
      #pomodoro-count {
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
      }