body {
        background-color: #cfd1e7;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        text-align: center;
        color: #333;
  

  }

  
        #timer {
          padding-inline-start: 1cm;
          font-size: 40px;
          font-weight: bold;
          
        }
       
      }
      .header {
        background-color: #e7e4e4;
        padding: 20px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: #333;
        border-bottom: 1px solid #ccc;
      }
      .container {
        display: grid;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        
        
      }
      #timer {
        border-width: 5cm;
        font-size: 50px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 20px;
        text-align: center;
      }
      #session-toggle {
        text-align: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      .session-btn {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #333;
        width: 48%;
      }
      .session-btn.active {
        background-color: #333;
        color: #fff;
      }
      .session-btn:focus {
        outline: none;
      }
      #interval-time{
        font-size:30px ;
        margin-top: 25px;
      }
      #settings{
        font-weight: bold;
      }
      .setting-label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }
      .setting-input {
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        color: #333;
        width: 100%;
      }
      .timer-btn {
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 15px 30px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        display: block;
        cursor: pointer;
      }
      .timer-btn:hover {
        background-color: #444;
      }
      .timer-btn:focus {
        outline: none;
      }
      #pomodoro-count {
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
      }